meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

#Anutrickz_translateBTN
  svg(aria-hidden="true", preserveAspectRatio="xMidYMid meet", role="img", viewBox="0 0 36 36")
    path.clr-i-outline.clr-i-outline-path-1(d="M30 3H14v5h2V5h14c.6 0 1 .4 1 1v11c0 .6-.4 1-1 1H17v7h-5.3L8 27.9V25H5c-.6 0-1-.4-1-1V13c0-.6.4-1 1-1h13v-2H5c-1.7 0-3 1.3-3 3v11c0 1.7 1.3 3 3 3h1v5.1l6.3-5.1H19v-7h11c1.7 0 3-1.3 3-3V6c0-1.7-1.3-3-3-3z", fill="currentColor")
    path.clr-i-outline.clr-i-outline-path-2(d="M6.2 22.9h2.4l.6-1.6h3.1l.6 1.6h2.4L11.9 14H9.5l-3.3 8.9zm4.5-6.4l1 3.1h-2l1-3.1z", fill="currentColor")
    path.clr-i-outline.clr-i-outline-path-3(d="M20 17c1.1 0 2.6-.3 4-1c1.4.7 3 1 4 1v-2s-1 0-2.1-.4c1.2-1.2 2.1-3 2.1-5.6V8h-3V6h-2v2h-3v2h5.9c-.2 1.8-1 2.9-1.9 3.6c-.6-.5-1.2-1.2-1.6-2.1h-2.1c.4 1.3 1 2.3 1.8 3.1c-1 .4-1.9.4-2.1.4v2z", fill="currentColor")
  .hide#ATLang_list
    ul
      li.language-list(data-google-lang="en") English
      li.language-list(data-google-lang="hi") à¤¹à¤¿à¤¨à¥à¤¦à¥€
      li.language-list(data-google-lang="mr") à¤®à¤°à¤¾à¤ à¥€
      li.language-list(data-google-lang="kn") à²•à²¨à³à²¨à²¡
script(src="http://code.jquery.com/jquery-1.11.3.min.js")
script(src="../static/translate.js")
link(rel="stylesheet", href="../static/translate.css")



meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
link(rel="stylesheet", type="text/css", href="../static/home1.css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap")
title Kisan Suvidha
#line
header.d-flex.align-items-center#header
  .d-flex.align-items-center
    h1.logo-me-auto 
      a(href="")|KisanSuvadha 
    nav.navbar
      ul
        li
          a.active(href="/home")
            span ðŸ˜
            |  Home
        li
          a(href="/calculator")
            span ðŸ–©
            |  Fertilizer Calci
        li
          a(href="/information")
            span â„¹ï¸ 
            | Information
        li
          a(href="/news")
            span ðŸ”
            |  Trending
        li
          a(href="/map")
            span ðŸ—º
            |  Maps
#line
.banner
  center
    img(src="../static/f10.jpg", name="id", width="1430", height="600")
    br
    br
    input.btn11(type="button", value="â®", onclick="display(-1)")
    input.btn22(type="button", value="â¯", onclick="display(1)")
div
  //- img.map(src="../static/f23.jpg", alt)
section.card1
  .card
    img(src="../static/f10.jpg", alt="Card Image")
    .card-body
      h3 Soil Health Card Scheme
      p Government of India's scheme promoted by the Department of Agriculture & Co-operation under the Ministry of Agriculture and Farmers' Welfare..
      a.btn(href="#", onclick="clickn()", target="_blank") Read More
  .card
    img(src="../static/f.jpg", alt="Card Image")
    .card-body
      h3 Neem Coated Urea
      p a fertilizer and an agriculture scheme supported by the Government of India to boost the growth of wheat and paddy,and curb the black market and hoarding of urea.
      a.btnA(href="#", onclick="click1()", target="_blank") Read More
  .card
    img(src="../static/f7.jpg", alt="Card Image")
    .card-body
      h3 National Agriculture Market
      p It envisaged as a pan-India electronic trading portal which seeks to network the existing APMC and other market yards to create a unified national market for agricultural commodities.
      a.btnB(href="#", onclick="click2()", target="_blank") Read More
  .card
    img(src="../static/f3.jpg", alt="Card Image")
    .card-body
      h3 Interest Subvention Scheme
      p Under this scheme, the farmers can avail concessional crop loans of upto Rs. 3 lakh at 7 per cent rate of interest.
      a.btnC(href="#", onclick="click3()", target="_blank") Read More
section
  .texto
    p Step into the World of Organics
    h2
      span Let the first step
      |  be firmly anchored!
    p.info1
      | These website is developed to help the kolhapur district farmers in order to enhance their farming
      br
      | skills and also make their farming easy and profitable.To do such thing we 5 members decided to take
      br
      | these intivative to help farmers
section
  .info
    img#m(src="../static/f17.jpg", alt)
    p It refers to livestock raising and selective breeding. It is the management and care of animals in which the genetic qualities and behavior of animals are further developed for profit.
    img#m1(src="../static/f18.avif", alt)
    p Farming is done traditionally from last many centuries but as human evolve in technology we should evolve in farming too so our goal is to make farming technically
    img#m2(src="../static/f7.jpg", alt)
    p Lets make our Kolhapur district one step ahead in farming using Kisan Suvidha webapp and make our farming abilities more advance and enhance...
.sliding
  marquee(behavior="static", direction="left") Kisan Suvidha always ready to serve farmers..Jai Kisaan!!! ðŸšœðŸšœðŸŒ¾ðŸŒ¾
section.section
  .para
    table
      tbody
        tr
          td Published :
          td Devloping Phase
        tr
          td Name:
          td Kisan Suvidha
        tr
          td Info:
          td
            | These website is develop by 5 members,
            br
            | to help the farmers of kolhapur district
            br
            | to enhance their farming skills

        tr
          td Motive:
          td To enhance the farming using technology
  .thumbbail
    img.imgfluid#m4(src="../static/f9.jpg", alt="about us")
section.section.sec-left
  .para
    table
      tbody
        tr
          td Email:
          td kisansuvidha123.com
        tr
          td Phone:
          td +919130304068
        tr
          td Address:
          td
            | #212, Ground floor, 7th cross
            br
            | Radha Apartments,Amboli Road,Ajara
            br
            | Ajara 416505

        tr
          td WhatsUp No:
          td +917768868584
  .thumbbail
    img#m3(src="../static/f11.jpg", alt="about us", width="300px", height="200px")
footer
  .footer-content
    h3 Kisan Suvidha
    p These website is developed by 5 memebers to help farmers of kolhapur district technically !!!.
    ul.socials
      li
        a(href="#", target="_blank")
          i.fa.fa-facebook(onclick="go()")
      li
        a(href="#", target="_blank")
          i.fa.fa-twitter(onclick="go1()")
      li
        a(href="#", target="_blank")
          i.fa.fa-google-plus(onclick="go2()")
      li
        a(href="#", target="_blank")
          i.fa.fa-youtube(onclick="go3()")
      li
        a(href="#", target="_blank")
          i.fa.fa-instagram(onclick="go4()")
  .footer-bottom
    p
      | copyright Â©2023 kisan suvidha. designed by 
      span SGMRPIANS
script.
  
  MySlides= new Array("../static/f10.jpg","../static/f21.jpg","../static/f5.jpg","../static/f22.jpg")
      i=0;
      function display(SlideNumber)
      {
          i=i+SlideNumber;
          if(i>MySlides.length-1)
          {
              i=0;
          }
          if(i<0)
          {
             i= MySlides.length-1;
          }
          document.id.src=MySlides[i]
      }
      MySlides= new Array("../static/f10.jpg","../static/f21.jpg","../static/f5.jpg","../static/f22.jpg")
      i=0;
      function rotate()
      {
        if(document.images)
        {
          i++;
          if(i==MySlides.length)
          {
            i=0;
          }
          document.id.src=MySlides[i];
          setTimeout("rotate()",6000)
        }
      }
      function run()
      {
        alert("+919130304068")
      }
      function run1()
      {
        alert("kisansuvidh@gmail.com")
      }
      function go()
      {
        location.href="https://www.facebook.com/"
      }
  
      function go1(){
        location.href="https://twitter.com/login?lang=en"
      }
      function go2(){
        location.href="https://www.google.com/"
      }
      function go3(){
        location.href="https://www.youtube.com/"
      }
      function go4(){
        location.href="https://www.instagram.com/"
      }
      
      function clickn(){
        location.href="https://www.india.gov.in/spotlight/soil-health-card"
      }
      
      function click1(){
        location.href="https://static.pib.gov.in/WriteReadData/specificdocs/documents/2022/apr/doc202242246501.pdf"
      }
      
      function click2(){
        location.href="https://www.enam.gov.in/"
      }
      
      function click3(){
        location.href="https://www.nabard.org/content1.aspx?id=602&catid=23&mid=23"
      }
  window.onload = rotate();
  